<!DOCTYPE html>
<html>
<head>
    <title>Forms Online</title>
</head>
<body>
    <h1>Forms Online is a online forms platform</h1>
    <h6>This is only meant for temporary forms, the form lists get cleared every update.</h6>
    <p>Welcome to Forms Online. This website is designed to help you create temoray forms for free</p>
    <p>This website does allow scripts that use GET requests to the form creation endpoint (/create/name?msg=description&q=questions%20seperated%20by%20commas,and%20percent%20encoded)</p>
    <p>The code for this website is stored on github at billybucket18/forms-online</p>
</body>
</html>